<!-- <p>reset-password works!</p> -->


<div class="reset-password-page">
  <div class="reset-password-card">
    <h2>Reset Password</h2>

    <div class="field">
      <label>Email</label>
      <input type="email" [(ngModel)]="resetData.email" readonly>
    </div>

    <div class="field">
      <label>Code</label>
      <input type="text" [(ngModel)]="resetData.code" placeholder="123456">
    </div>

    <div class="field">
      <label>New Password</label>
      <input type="password" [(ngModel)]="resetData.newPassword">
    </div>

    <button class="btn-submit" (click)="submitReset()">Update Password</button>

    <div *ngIf="error" class="err-box">{{ error }}</div>
  </div>
</div>

<app-confirm-dialog
  *ngIf="showDialog"
  [message]="dialogMessage"
  (confirmed)="onDialogConfirm($event)">
</app-confirm-dialog>
