<!-- <p>reset-password works!</p> -->
 
<div class="container mt-5">
      <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-body">
          <h3>Reset Password</h3>
          <div class="mb-3">
            <label>Email</label>
            <input type="email" [(ngModel)]="resetData.email" class="form-control" readonly>
          </div>
          <div class="mb-3">
            <label>6-Digit Code</label>
            <input type="text" [(ngModel)]="resetData.code" class="form-control" placeholder="123456">
          </div>
          <div class="mb-3">
            <label>New Password</label>
            <input type="password" [(ngModel)]="resetData.newPassword" class="form-control">
          </div>
          
          <button class="btn btn-success w-100" (click)="submitReset()">Update Password</button>
          <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
        </div>
      </div>
    </div>
