<div class="checkout-container">
  <h2>Checkout</h2>
  
  <div class="summary-box" *ngIf="cartItems.length > 0">
  <h3>Order Summary</h3>
  <div class="checkout-item" *ngFor="let item of cartItems">
    <img [src]="getImageUrl(item.product.imagePath)" width="40" class="me-2 rounded">
    <span>{{ item.product.name }} (x{{ item.quantity }})</span>
    <strong>${{ item.product.price * item.quantity }}</strong>
  </div>
  <p class="total-line">Total Amount: <span>${{ totalAmount }}</span></p>
</div>

  <div class="payment-box">
    <h3>Select Payment Method</h3>
    <div class="payment-options">
      <div *ngFor="let method of paymentMethods" class="method-row">
        <input type="radio" 
               [id]="method" 
               name="paymentGroup" 
               [value]="method" 
               [(ngModel)]="selectedPaymentMethod">
        <label [for]="method">{{ method }}</label>
      </div>
    </div>

    <p class="error-msg" *ngIf="errorMessage">{{ errorMessage }}</p>

    <button class="confirm-btn" 
            (click)="placeOrder()" 
            [disabled]="!selectedPaymentMethod">
      Confirm Order
    </button>
  </div>
</div>




