<nav>
  <h1>Volt</h1>

  <ul>
    <li><a routerLink="/products">Home</a></li>

    <span *ngIf="!currentUser">
      <li><a routerLink="/auth/login">Login</a></li>
      <li><a routerLink="/auth/register">Register</a></li>
    </span>

    <ng-container *ngIf="currentUser?.role === 'customer'">
      <li><a routerLink="/cart" routerLinkActive="active">My Cart</a></li>
      <li><a routerLink="/orders/history">My Orders</a></li>
      <li><a routerLink="/user/profile">Account</a></li>
    </ng-container>

    <span *ngIf="currentUser?.role === 'admin'">
      <li>
        <a routerLink="/admin/users" routerLinkActive="active">Manage Users</a>
      </li>
      <li>
        <a routerLink="/admin/products" routerLinkActive="active"> Manage Products
        </a>
      </li>
      <li>
        <a routerLink="/admin/orders" routerLinkActive="active">All Orders
        </a>
      </li>
    </span>

    <li *ngIf="currentUser">
      <button (click)="onLogoutClick()" class="logout-btn">
        Logout
      </button>
    </li>
  </ul> </nav>

<!-- <app-loading-spinner *ngIf="isLoading"></app-loading-spinner> -->

<app-confirm-dialog 
  *ngIf="showLogoutConfirm" 
  [message]="confirmMessage" 
  (confirmed)="handleLogoutConfirmation($event)">
</app-confirm-dialog>

