<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div class="box" *ngIf="product && !isLoading">
  <div class="left">
    <img
      [src]="getImageUrl(product.imagePath)"
      [alt]="product.name"
      (error)="onImageError($event)"
      class="img"
    />

    <div *ngIf="isEditing" class="upload-area">
      <label class="bold">Change Product Image:</label>
      <input
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
        class="input"
      />
    </div>
  </div>

  <div class="right">
    <div *ngIf="!isEditing">
      <p class="path">
        Home > {{ product.subCategory?.category?.type?.name }} >
        {{ product.subCategory?.category?.name }}
      </p>
      <br />
      <h1 class="title">{{ product.name }}</h1>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      (5.0)
      <span>(100 reviews)</span>
      <br />
      <br />
      <p class="text">{{ product.description }}</p>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum cumque
        aperiam corporis est. Cupiditate odit quos aperiam deserunt. Ipsum
        laboriosam veritatis maiores quam ipsam fugit? Aliquid quaerat ducimus
        voluptate aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Voluptatem possimus repellat hic ut atque, saepe suscipit sapiente
        architecto! Aut aliquam explicabo modi, at vitae facere doloremque
        laboriosam aliquid perspiciatis alias.
      </p>
      <h2 class="price">Price: ${{ product.price }}</h2>
      <p class="status">
        Status:
        <span [class.sold-out]="product.stockQuantity <= 0">
          {{
            product.stockQuantity > 0
              ? "In Stock (" + product.stockQuantity + ")"
              : "Out of Stock"
          }}
        </span>
      </p>
    </div>

    <div *ngIf="isEditing" class="form">
      <label>Name:</label>
      <input type="text" [(ngModel)]="product.name" class="input gap" />

      <label>Description:</label>
      <textarea
        [(ngModel)]="product.description"
        class="input gap"
      ></textarea>

      <label>Price ($):</label>
      <input
        type="number"
        [(ngModel)]="product.price"
        class="input gap"
      />

      <label>Stock Quantity:</label>
      <input
        type="number"
        [(ngModel)]="product.stockQuantity"
        class="input gap"
      />
    </div>

    <hr class="line" />

    <div class="btns">
      <div *ngIf="authService.currentUserValue?.role !== 'admin'; else adminBtns" class="user-btns">
        <button (click)="addToCart()" class="btn primary" *ngIf="product.stockQuantity > 0">
          Add to Cart
          <i class="fa-solid fa-cart-plus"></i>
        </button>
        <button
          (click)="shareProduct()"
          class="btn outline"
        >
          Share Product
        </button>
      </div>

      <ng-template #adminBtns>
        <div class="admin">
          <div *ngIf="!isEditing" class="stack">
            <button
              (click)="toggleEdit()"
              class="btn primary">
              Edit
            </button>
            <button
              (click)="confirmDelete()"
              class="btn danger">
              Delete
            </button>
          </div>

          <div *ngIf="isEditing" class="group">
            <button (click)="saveProduct()" class="btn success">
              Save
            </button>
            <button (click)="toggleEdit()" class="btn outline">
              Cancel
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<app-confirm-dialog
  *ngIf="showConfirm"
  [message]="confirmMessage"
  (confirmed)="handleConfirmation($event)"
>
</app-confirm-dialog>

